@charset 'utf-8';
@import 'settings';
@import 'mwyatt-codex';
@import 'mwyatt-codex/css/link';
@import 'mwyatt-codex/css/button';
@import 'mwyatt-codex/css/button';
@import 'mwyatt-codex/css/form';

.panel-header-container {
    border-top: 1px solid #eee;
    padding: 3%;
    border-bottom: 1px solid #eee;
    background-color: color(var(--color-primary-0) tint(95%));
}

.panel-header {
    font-size: 32px;
    font-family: var(--font-family-heading);
}

.panel-header-2 {
    font-size: 22px;
    margin: 1em 0;
}

.panel-container {
    padding: 5% 10%;
}

.logo-container {
    padding: 3% 10%;
}

.logo-acmefg {
    width: 160px;
    display: block;
    height: 73px;
}

.logo-acmefg svg {
    max-width: 100%;
    max-height: 100%;
}

.alert {
    margin: 1em 0;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: var(--border-radius);
}

.alert.success {
    border-color: var(--color-secondary-2-0);
    color: color(var(--color-secondary-2-0) shade(50%));
    background-color: color(var(--color-secondary-2-0) tint(95%));
}

.alert.fail {
    border-color: var(--color-secondary-1-0);
    color: color(var(--color-secondary-1-0) shade(50%));
    background-color: color(var(--color-secondary-1-0) tint(95%));
}

.button {
    padding: 0.8em;
    font-weight: 400;
    border-radius: var(--border-radius);
}

.button.disabled {
    background-color: #ccc;
}

.background-color-0 {
    background-color: var(--color-primary-0);
}

.background-color-1-0 {
    background-color: var(--color-secondary-1-0);
}

.background-color-2-0 {
    background-color: var(--color-secondary-2-0);
}

.background-color-3-0 {
    background-color: var(--color-secondary-3-0);
}

.color-way {
    width: 90px;
    height: 40px;
    margin: 30px;
    float: left;
    border-radius: var(--border-radius);
}

.form-select,
.form-textarea,
.form-input {
    padding: 0.7em;
    border-color: #ccc;
}

.form-select:focus,
.form-textarea:focus,
.form-input:focus {
    border-color: #666;
}

.form-group {
    margin: 2em 0;
}

.table {
  width: 100%;
}

.table th {
  font-weight: 600;
  text-align: left;
}

.table th,
.table td {
  padding: 0.5em;
  border: 1px solid #ccc;
}
