:root {

  /*Acme Facilities Group Dark Blue*/
  --color-primary-0: #003882;
  --color-primary-1: color(var(--color-primary-0) shade(25%));
  --color-primary-2: color(var(--color-primary-0) shade(50%));
  --color-primary-3: color(var(--color-primary-0) tint(25%));
  --color-primary-4: color(var(--color-primary-0) tint(50%));

  /*Acme Facilities Group Red*/
  --color-secondary-1-0: #DB001B;
  --color-secondary-1-1: color(var(--color-secondary-1-0) shade(25%));
  --color-secondary-1-2: color(var(--color-secondary-1-0) shade(50%));
  --color-secondary-1-3: color(var(--color-secondary-1-0) tint(25%));
  --color-secondary-1-4: color(var(--color-secondary-1-0) tint(50%));

  /*Acme Facilities Group Green*/
  --color-secondary-2-0: #7EB01E;
  --color-secondary-2-1: color(var(--color-secondary-2-0) shade(25%));
  --color-secondary-2-2: color(var(--color-secondary-2-0) shade(50%));
  --color-secondary-2-3: color(var(--color-secondary-2-0) tint(25%));
  --color-secondary-2-4: color(var(--color-secondary-2-0) tint(50%));

  /*Acme Facilities Group Yellow*/
  --color-secondary-3-0: #FFDD00;
  --color-secondary-3-1: color(var(--color-secondary-3-0) shade(25%));
  --color-secondary-3-2: color(var(--color-secondary-3-0) shade(50%));
  --color-secondary-3-3: color(var(--color-secondary-3-0) tint(25%));
  --color-secondary-3-4: color(var(--color-secondary-3-0) tint(50%));

  /*Acme Facilities Group Light Blue*/
  --color-secondary-3-0: #00A0D9;
  --color-secondary-3-1: color(var(--color-secondary-3-0) shade(25%));
  --color-secondary-3-2: color(var(--color-secondary-3-0) shade(50%));
  --color-secondary-3-3: color(var(--color-secondary-3-0) tint(25%));
  --color-secondary-3-4: color(var(--color-secondary-3-0) tint(50%));

  --font-family: 'Open Sans', 'Arial', 'sans-serif';
  --font-weight: 400;
  --font-size: 14px;
  --font-line-height: 1.5;
  --body-color: var(--color-primary-0);
  --background-color: #fff;
  --selection-color: #ffffff;
  --selection-background-color: var(--color-primary-0);
  --placeholder-color: color(#ffffff shade(30%));
  --heading-color: var(--color-primary-0);
  --font-family-heading: 'Patua One', cursive;
  --font-weight-heading: 400;
  --border-radius: 2px;
  --animation-duration: 250ms; /*needed?*/
}
